@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/font/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("./assets/font/AppleSDGothicNeoB.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo";
}

:root {
  /* ===== Colors ===== */
  --body-color: #ffffff;
  --background-color: #f0f1f4;
  --text-color: #000000;
  --subtext-color: #6d6d6d;
  --primary-color: #3478f6;
  --subprimary-color: #82b0f4;
  --star-color: #ffb800;
  --compo-color: #f2f2f2;
  --input-color: #c4c4c4;
  --wrong-color: #ff0000;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

#root {
  width: 375px;
  height: 100vh;
  background-color: var(--body-color);
  position: relative;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

#app {
  height: 100%;
  width: 100%;
  overflow: auto;

  scrollbar-width: none; /* Firefox */
}

#app::-webkit-scrollbar {
  display: none;
}
