* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-color: #FFFFFF;
  --background-color: #F0F1F4;
  --text-color: #000000;
  --subtext-color: #6D6D6D;
  --primary-color: #3478F6;
  --subprimary-color: #82B0F4;
  --star-color: #FFB800;
  --compo-color: #F2F2F2;
  --input-color: #C4C4C4;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

#root {
  width: 450px;
  height: 100vh;
  background-color: var(--body-color);

  @media screen and (max-width: 450px) {
    width:100%;
  }
}