@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('./assets/font/AppleSDGothicNeoL.ttf');
}

@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('./assets/font/AppleSDGothicNeoB.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AppleSDGothicNeo';
}

:root {
  /* ===== Colors ===== */
  --body-color: #FFFFFF;
  --background-color: #F0F1F4;
  --text-color: #000000;
  --subtext-color: #6D6D6D;
  --primary-color: #3478F6;
  --subprimary-color: #82B0F4;
  --star-color: #FFB800;
  --compo-color: #F2F2F2;
  --input-color: #C4C4C4;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

#root {
  width: 375px;
  height: 100vh;
  background-color: var(--body-color);
  position: relative;

  @media screen and (max-width: 375px) {
    width:100%;
  }
}

#app {
  height: 100%;
  width: 100%;
  overflow: auto;

  scrollbar-width: none; /* Firefox */
}

#app::-webkit-scrollbar {
  display: none;
}